html {
	margin: 0;
	padding: 0;
	}


body {
	width: 700px;
	
	margin-top: 430px;
    margin-right: auto;
    margin-bottom: 100;
    margin-left: auto;
	font-family: 'Roboto', sans-serif;
	background-color: #ffffff;
	

}



h1{
	font-weight: 100;
}

h3{
	
	margin-top: 100;
	font-weight: 100;
	font-size: 30px;
	text-align: center;
	letter-spacing:0.1ex;
}

p{
    font-weight: 300;
    margin-top: -1.5ex; 
    text-align: justify;
	font-size: 17px;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	line-height:3ex;

}
ul{
	font-size: 20px;
	font-weight: 300;
	text-decoration: none;
}
a {
  color: #0d8ba1;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  text-decoration: none;
}
a:hover, a:focus, a:active { 
color: #ffffff;
}



.banner{
	text-align: center;
	background-color: #C1D4D1;	
	width: 100%;
	height: 340px;
	min-width: 700px;
    margin:0;
	position:absolute;
	left: 0px;
    top: 0px;
}
.banner h1{
	color: #ffffff;
	margin-top: 15%;
	margin-right: 42%;
	margin-left:42%;
}
.padre{
	position: absolute;
   top: 335px;
   width: 100%;
    left: 20%;
    margin-right: 0;
   transition: all 0.55s ease-out;
  -webkit-transition: all 0.55s ease-out;
  -moz-transition: all 0.55s ease-out;


}
.boton1, .boton2, .boton3, .boton4, .boton5{
	float: left;;
	width: 150px;
	height: 30px;
    text-align: center;
    background-color: #399E91;
	margin-right: 1%;
	margin-top: 5px;
    line-height: 25px;
}
.padre a{
color: #ffffff;
font-weight: 300;
font-size: 14;	

}
.boton1:hover{
	background-color: #3ABAAA;
}
.boton2:hover{
	background-color: #3ABAAA;
}
.boton3:hover{
	background-color: #3ABAAA;
}
.boton4:hover{
	background-color: #3ABAAA;
}
.boton5:hover{
	background-color: #3ABAAA;
}

.padre2{
	height: 300px;
	width: 100%;
	
	 transition: all 0.55s ease-out;
  -webkit-transition: all 0.55s ease-out;
  -moz-transition: all 0.55s ease-out;
}

.link1, .link2{
width: 47.5%;
height: 280px;	
float: left;
background-color: #C1D4D1;
margin-top: 1ex;
margin-left: 1ex;
margin-right: 1ex;
text-align: center;	
line-height: 270px;
}
.link1:hover{
	background-color: #DFF2F0;

}
.link2:hover{
	background-color: #DFF2F0;

}

.padre3{
	height: 300px;
	width: 100%;
	
	 transition: all 0.55s ease-out;
  -webkit-transition: all 0.55s ease-out;
  -moz-transition: all 0.55s ease-out;
}

.link3, .link4{
width: 47.5%;
height: 280px;	
float: left;
background-color: #C1D4D1;
margin-top: 1ex;
margin-left: 1ex;
margin-right: 1ex;
text-align: center;	
line-height: 270px;
}
.link3:hover{
	background-color: #DFF2F0;

}
.link4:hover{
	background-color: #DFF2F0;

}



