

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, 
blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, font, 
ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
center, u, b, i {
     margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
     font-weight: normal;
     font-style: normal;
     
     
     vertical-align: baseline
}
body {
     line-height: 1;
     background-color:#ffffff;

}



:focus {
     outline: 0
}

ol, ul {
     list-style: none
}

table {
     border-collapse: collapse;
     border-spacing: 0
}

blockquote:before, blockquote:after, q:before, q:after {
     content: ""
}

blockquote, q {
     quotes: "" ""
}

input, textarea {
     margin: 0;
     padding: 0
}

hr {
    
     background-color: #F1463D;
     height: 1px;
     width: 29%;
     border-color: #F1463D;
     border: 0;
}

p{
     font-weight: 400;
     font-family: 'Roboto Slab', serif;
     line-height: 2.7ex;
     font-size: 1em;
     color: #000000;
     letter-spacing: 0.08ex;
}
h1{
     font-family: 'Galada', cursive;
     font-size: 3em;
     color: #252525;
      line-height: 1ex;
}

h2 {
     font-weight: 100;
      font-family: 'Galada', cursive;
     line-height: 3ex;
     font-size: 2.25em;
     color: #000000;

}
.container{
     width: 100%;
     margin-left:auto;
     margin-right: auto;
     display: flex;
      flex-direction: column; 
      align-content:center;

}

.banner{
     width: 95.7%;
     
     position: relative;
     margin-left: auto;
     margin-right: auto;
     display: flex;
      flex-direction: row; 
       
}
.banner h1{
     line-height: 110px;
}


.banner hr{
 margin-top: 50px;    
}


    

.name1,.name2,.name3{
     left: 30px;
     float: left;
     width: 40.7%;
     height: 80px;
     
     margin-right: 5px;
     margin-top: 0px;
     text-align: center;
     line-height: 100px;
     min-width: 200px;
 }

      
.name2{
     width: 17.2%;
     align-self: center;
     min-width: 200px;
     display: flex;
     flex-direction: row;

}
.name1 h1{
    
     text-align: right;
}
.name3 h1{
     
     text-align: left;
}

@media only screen and (max-width:  700px) {
    /* For mobile phones: */
    .name1,.name2,.name3{
        width: 100%;
        background-color: none;
        font-size: 1.7ex;

    }
    .name1 p{
    
     text-align: center;
}
.name3 p{
     
     text-align: center;
}
    .banner{
     flex-direction: column;
    }
}

.logo{
 background: url("../img/logo.png") repeat-x left top;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   width: 70px;
   height: 70px;
   margin-top: 10px;
   -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #ffffff m;
     margin-right: 0.6%;
     border: 1px;
     border-style: solid;
     border-color:rgba(241,70,61,0);

}

.menu{
width: 95.7%;
margin-left: auto;
margin-right: auto;
position: relative;  
flex-direction:column;
justify-content: center;  
}

.menu p{
     font-weight: 400;
     margin-right: 15px;
     margin-left: 15px;
     
   


}
 
.opcion1,.opcion2,.opcion3,.opcion4,.opcion5{
     float: left;
     width: 19.4%;
     height: 500px;
     background-color: #90C3D4;
     margin-right: 0.6%;
     margin-top: 0.6%;
     text-align: center;
     min-width: 200px;
     margin-bottom:0.6%; 
}
.opcion1{
  background: url("../img/home/objetos.jpg") repeat-x left top;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}  

.opcion2{
  background: url("../img/home/editorial.jpg") repeat-x left top;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
} 
.opcion3{
  background: url("../img/home/interaccion.jpg") repeat-x left top;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
} 
.opcion5{
  background: url("../img/home/ilustracion.jpg") repeat-x left top;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
} 

.recuadro1, .recuadro2, .recuadro3, .recuadro4, .recuadro5{
     width: 100%;
     height: 100%; 
     background-color:rgba(255,255,255,0);
     display: flex;
}


.texto1, .texto1b,.texto1c,.texto1d,.texto1e{
     width: 100%;
     height: 45px;
     background-color:rgba(255,255,255,0.44); 
     margin-top: 40%;
     
}

.texto2,.texto3,.texto4,.texto5,.texto6 {
color:rgba(0,0,0,0);
margin-top: 0%;    

}







.parte_baja{
margin-left: auto;
margin-right: auto;
width: 95.7%;
height:150px;
position: relative;
display: flex;  
flex-direction:column;
text-align: center;
  
}


.botones{
display: flex;  
flex-direction:row;
width: 100%;
justify-content: center;

}   


.boton1{
     
background-color:#F1463D;
width: 12.8%;
height: 30px;
float: left;
margin-right: 0.8%;
min-width: 126px;

}

.boton1 p{
   line-height: 0;
   font-weight: 300;
   letter-spacing: 0.1ex;
   color: #ffffff; 


}

.boton1:hover{
background-color:#252525;
    
}


}

.sigueme{
 
 width: 100%;
 justify-content: center; 

}


.botones2{
display: flex;  
flex-direction:row;
width: 100%;
justify-content: center;


} 

.red{
 width: 40px;
     height: 40px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #ffffff m;
     margin-right: 0.6%;
}


