

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, 
blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, font, 
ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
center, u, b, i {
     margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
     font-weight: normal;
     font-style: normal;
     
     
     vertical-align: baseline
}
body {
     line-height: 1;
     background-color:#252525;

}



:focus {
     outline: 0
}

ol, ul {
     list-style: none
}

table {
     border-collapse: collapse;
     border-spacing: 0
}

blockquote:before, blockquote:after, q:before, q:after {
     content: ""
}

blockquote, q {
     quotes: "" ""
}

input, textarea {
     margin: 0;
     padding: 0
}

hr {
    
     background-color: #F1463D;
     height: 1px;
     width: 29%;
     border-color: #F1463D;
     border: 0;
}

p{
     font-weight: 100;
     font-family: 'Raleway', sans-serif;
     line-height: 3ex;
     font-size: 1em;
     color: #ffffff;
}

h2 {
     font-weight: 100;
     font-family: 'Raleway', sans-serif;
     line-height: 3ex;
     font-size: 5ex;
     color: #ffffff;

}
.container{
     width: 100%;
     margin-left:auto;
     margin-right: auto;
     display: flex;
      flex-direction: column; 
      align-content:center;

}

.banner{
     width: 95.7%;
     
     position: relative;
     margin-left: auto;
     margin-right: auto;
     display: flex;
      flex-direction: row; 
       
}

.banner img{
width: 70px;
height: 70px;
margin-top: 10px;
}

.banner hr{
 margin-top: 50px;    
}
.banner p{
  font-family: 'Galada', cursive;
     font-size: 2.813em;
     color: #EFEFEF;
      line-height: 1ex;
     
}

    

.name1,.name2,.name3{
     left: 30px;
     float: left;
     width: 40.7%;
     height: 80px;
     
     margin-right: 5px;
     margin-top: 0px;
     text-align: center;
     line-height: 100px;
     min-width: 200px;
 }

      
.name2{
     width: 17.2%;
     align-self: center;
     min-width: 200px;
     display: flex;
     flex-direction: row;

}
.name1 p{
    
     text-align: right;
}
.name3 p{
     
     text-align: left;
}

@media only screen and (max-width:  700px) {
    /* For mobile phones: */
    .name1,.name2,.name3{
        width: 100%;
        background-color: none;
        font-size: 1.7ex;

    }
    .name1 p{
    
     text-align: center;
}
.name3 p{
     
     text-align: center;
}
    .banner{
     flex-direction: column;
    }
}

.menu{
width: 95.7%;
margin-left: auto;
margin-right: auto;
position: relative;  
flex-direction:column;
justify-content: center;  
}

.menu p{
     font-weight: 200;
     margin-right: 15px;
     margin-left: 15px;

}
 
.opcion1,.opcion2,.opcion3,.opcion4,.opcion5{
     float: left;
     width: 19.4%;
     height: 500px;
     background-color: #90C3D4;
     margin-right: 0.6%;
     margin-top: 0.6%;
     text-align: center;
     min-width: 200px;
     margin-bottom:0.6%; 
}
.opcion1{
  background: url("../img/home/objetos.jpg") repeat-x left top;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}  

.opcion2{
  background: url("../img/home/editorial.jpg") repeat-x left top;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
} 
.opcion3{
  background: url("../img/home/interaccion.jpg") repeat-x left top;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
} 
.opcion5{
  background: url("../img/home/ilustracion.jpg") repeat-x left top;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
} 

.recuadro1{
 
     height: 100%;
     width: 100%;
     background-color:rgba(0,0,0,0.44);
     display: flex;
}
.texto1{

     width: 100%;
     margin-top: 40%;

}
.texto1 p{
 font-weight: 300;    

}


.parte_baja{
 margin-left: auto;
margin-right: auto;
width: 95.7%;
height:150px;

position: relative;
display: flex;  
flex-direction:column;
text-align: center;
  
}


.botones{
display: flex;  
flex-direction:row;
width: 100%;
justify-content: center;

}   


.boton1{
     
background-color:#434343;
width: 12.8%;
height: 30px;
float: left;
margin-right: 0.8%;
min-width: 126px;
}

.boton1 p{
   line-height: 0%;  

}
.sigueme{
 
 width: 100%;
 justify-content: center; 

}
.sigueme p{
 font-weight: 200;    
}

.botones2{
display: flex;  
flex-direction:row;
width: 100%;
justify-content: center;


} 

.red{
 width: 40px;
     height: 40px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #ffffff;
     margin-right: 0.6%;
}


