@media only screen and (orientation: landscape) and ( max-width: 1065px){ 

.menu{
    
     width: 46%;
     /*height: 35%;*/
     height: 60px;
     margin-top: 0px;
     flex-direction: column;
     display: flex;
     justify-content: space-between;
     background-color: #90C3D4;
     opacity: 0;
     order: 3
     
     

     right: 0px;
     top: 165px;
     }


     .opcion{
     width: 80%;
     height: 30px;
     margin-right: 0;
    
     display: flex;
     justify-content: flex-start;
     align-self: center;
      }

      .opcion p{
     font-weight: 400;
     font-size: 15px;
     left: 10px;
     margin-left: auto;
     align-self: left;
     opacity: 0;
}

label img{
  width: auto;
  height: auto;

}

.opcion1 p{
     font-weight: 400;
     font-size: 15px;
     margin-top: 30px;
     align-self: center;
     color: #ffffff;
}

input[id^="spoiler"]{
display: none;

}
/* Estilo botón clicable */
input[id^="spoiler"] + label {
display: block;
width: 100px;
margin: 0 auto;
padding: 5px 20px;
background: #F93A5A;
cursor: pointer;
position: absolute;
right: 0;
justify-content: center;
opacity: 1;

}



/* Estilo botón cuando su INPUT está seleccionado */
input[id^="spoiler"]:checked + label  {

background: #F93A5A;
height: 350px;

flex-direction: column;
opacity: 1;
}

input[id^="spoiler"] ~ .spoiler {
 opacity: 0;
}

input[id^="spoiler"]:checked ~ .spoiler {
 opacity: 1;
 position: absolute;
right: 20px;
top: 50px;
margin-top: 20px;
cursor: pointer;
}


.imagen1,.imagen2,.imagen3,.imagen4,.imagen5,.imagen6,.imagen7,.imagen8,.imagen9{
  width: 32%;
  height: 400px; 
  margin-top: 30px; 
  display: flex; 
  float: left;
  order: 1;

  border-width: 1px 1px 1px 1px;
     border-color: #F1463D;
     border-style:solid; 
}

.imagen1b,.imagen2b,.imagen3b,.imagen4b,.imagen5b,.imagen6b,.imagen7b,.imagen8b,.imagen9b,.imagen10b{
  width: 32%;
  height: 400px; 
  margin-top: 30px; 
  float: left;
  order: 1;
 display: flex; 
  border-width: 1px 1px 1px 1px;
     border-color: #F1463D;
     border-style:solid; 
}

.recuadro{
     background-color: rgba(255,255,255,0.8);
     width: 100%;
     height: 10%;
     display: flex;
     
     flex-direction: column;
     justify-content: center;
     align-self: flex-end;
     padding-right: 0px;
     padding-left: 0px;}

     .recuadro h3{
     margin-bottom: 10px;
     margin-top: 10px;
     color: rgba(0,0,0,1);
    text-align: center;

       -webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease; 
}


.recuadro span{
     margin-top: 0;
     margin-bottom: 0;
     color: rgba(0,0,0,1);
     font-size: 0px;
     

       -webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease; 
}

.recuadro p{
     margin-top: 3px;
     margin-bottom: 0;
     color: rgba(0,0,0,1);
     font-size: 0px;

       -webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease; 
}

.parte_baja{
margin-left: auto;
margin-right: auto;
width: 100%;
height:150px;
position: relative;
display: flex;  
flex-direction:column;
text-align: center;

 border-width: 1px 0px 0px 0px;
     border-color: #F1463D;
     border-style:solid;
  
}


.botones{
display: flex;  
flex-direction:row;
width: 100%;
justify-content: space-between;

}   


.boton1{
     

width: 33%;
height: 30px;
float: left;
margin-right: 0.2%;
min-width: 20px;
background-color:#F93A5A;


}

.boton1 p{
   line-height: 0;
    font-weight: 400;
     font-size: 15px;
   color: #ffffff; 


}

.boton1 p:hover{
  line-height: 0;
    font-weight: 400;
     font-size: 17px;
   color: #F1463D; 

   -webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
    
}



}

.sigueme{
 
 width: 100%;
 justify-content: center; 

}


.botones2{
display: flex;  
flex-direction:row;
align-self: center;
margin-right: auto;
margin-left: auto;
width: 80%;
justify-content: space-between;


} 

.red{
 width: 40px;
     height: 40px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #ffffff m;
     margin-right: 2%;
}

.botones2 a{
     width: 40px;
     height: 40px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #ffffff m;
     margin-right: 2%;

}




}