@media only screen and (orientation:portrait){ 

    /* For mobile phones: */
    body{
     width: 100%;
    }
    .name1,.name2,.name3{
        width: 100%;
        background-color: none;
        font-size: 1.7ex;
        height: 65px;

    }
    .name1 h1{
    
     text-align: center;
}
.name3 h1{
     
     text-align: center;
}
    .banner{
     flex-direction: column;
     padding-bottom: 5px;
   } 

.menu{
width: 95.7%;
margin-left: auto;
margin-right: auto;
position: relative;  
flex-direction:row;
justify-content: center;  
}    

.opcion1,.opcion2,.opcion3,.opcion4,.opcion5{
     float: left;
     width: 100%;
     height: 250px;
     background-color: #90C3D4;
     margin-right: 0.6%;
     margin-top: 0.6%;
     text-align: center;
  
     margin-bottom:0.6%; 
}

.texto1, .texto1b,.texto1c,.texto1d,.texto1e{
     width: 100%;
     height: 100px;
     background-color:rgba(255,255,255,0.8); 
     margin-top: 10%;}

.texto2,.texto3,.texto4,.texto5,.texto6 {
color:rgba(0,0,0,1);
margin-top: 0%;    

}     


}