@media only screen and (orientation: portrait){ 

.head{
    width: 100%;
    height: 200px;
    background-color: #F93A5A;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}	

.logo1{
width: 100%;
background-color:#90C3D4;
display: flex;
justify-content: center;
flex-direction: row;
order: 1;
align-self: flex-start;

}

.logo1 hr{

	width: 30%;
   height: 1px;
   border-color:#ffffff;
   background-color:#ffffff;
   line-height: 40px;
   align-self: center;
}
#l1{
	order: 1;
}

#l3{
	order: 3;
}
#logo{
     display: flex;
      align-self: center;
       order: 2;
       margin-top: 0;
       }

.logo{
     order: 1;
     display: flex;
    align-self: center; 

    margin-top: 0;

      background: url("../img/logo.png") repeat-x left top;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   width: 60px;
   height: 60px;
background-color: #90C3D4;}

   .ruta{
     display: flex;
     width: 100%;
     height: 70px;
     padding-right: auto;
     padding-left: auto;
    
     order: 2;
     background-color: #90C3D4;
}

.ruta h2{
     margin-left: auto;
     margin-right: auto;
     margin-top: 20px;
}

   .menu{
    
     width: 46%;
     height: 20%;
     margin-top: 0px;
     flex-direction: column;
     display: flex;
     justify-content: space-between;
     background-color: #90C3D4;
     opacity: 0;
     position: absolute;

     right: 0px;
     top: 165px;
     }

     .opcion{
     width: 100%;
     height: 30px;
     margin-right: 0;
     
     background-color: #000;
     
     
     display: flex;
     
     justify-content: center;
      }

      .container1{
    
     width: 95.7%;
     height: 1000px;
     margin-top: 70px;
     margin-bottom: 0px;
     /* background-color: #90C3D4;*/
     
     display: flex;
     align-self: center;
     flex-direction: column;
     
     }
.contenedor1{
     margin-top: 40px;
}

.texto{
 display: flex;    
 flex-direction: column;
 width: 100%;
 height: 35%;
 margin-right: 3%;
background-color: #D4A190;
     }

.imagen1{
  /* background: url("../img/objetos/MantoD2.jpg") repeat-x left top;*/
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   width: 100%;
   height: 400px;
   display: flex;
   background-color: #D4A190;
   margin-top: 5px;
}

.imagen2{
 
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   width: 100%;
   height: 400px;
   background-color: #D4A190;
}

.imagen3{
   background: url("../img/objetos/plegable.jpg") repeat-x left top;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   width: 100%;
   height: 400px;
}

/*slider*/
.slider_container{ width:100%; height: 100%; margin:auto; clear:both;  padding:0px; background-color:#252525;}

.flexslider .slides img {max-width: 100%; max-height: 200px; min-height: 200px; display: block; margin-right: auto; margin-left: auto; margin-top: auto; margin-bottom: auto;}

.flex-direction-nav li a {width:45px; height:42px; margin:0; display: block; position: absolute; right:0px; cursor: pointer; text-indent: -9999px;}
.flex-direction-nav li a.next {background:url(images/next.png) no-repeat center; }
.flex-direction-nav li a.prev {background:url(images/prev.png) no-repeat center;left: 0px;}
.flex-direction-nav li a.next:hover {background:url(images/next_a.png) no-repeat center;}
.flex-direction-nav li a.prev:hover {background:url(images/prev_a.png) no-repeat center;}
.flex-direction-nav li a.disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

}